.fibo_fact_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.fibo_inner_container {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  font-size: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(168, 168, 168, 1);
  -moz-box-shadow: 0px 0px 15px 5px rgba(168, 168, 168, 1);
  box-shadow: 0px 0px 15px 5px rgba(168, 168, 168, 1);
  overflow-y: scroll;
}

.fibo_fact_image {
  height: 400px;
}

.fibo_inner_container table {
  line-height: initial;
}

.fibo_inner_container .airport {
  margin-top: 1400px;
}

.fibo_inner_container tr {
  font-size: x-small;
  font-weight: 800;
}

.fibo_inner_container h6 {
  font-size: medium;
  margin: 0 0 6px;
}
